<!-- index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Inicio | Klearty IA</title>



</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo_klearty.png') }}" alt="Logo Klearty">
        <h1>Ingresa tus datos y empieza a usar la IA</h1>
    </div>
    <div class="flex-container">
        <!-- Columna para la imagen -->
        <div class="flex-column">
            <img src="{{ url_for('static', filename='robot_costado.jpg') }}" alt="Descripción de la imagen">
        </div>

  
        <div class="flex-column">
            <form action="/" method="post" enctype="multipart/form-data">
                <!-- Columna para el formulario -->
                <div class="form-group">
                    <label for="file">Selecciona un archivo CSV/Excel:</label>
                    <input type="file" id="file" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                </div> 

                <div class="form-group">
                    <label for="target">Nombre de la Variable Target:</label>
                    <input type="text" id="target" name="target">
                </div>
                <div class="form-group custom-checkbox">
                    <input type="checkbox" id="pro_mode" name="pro_mode">
                    <label for="pro_mode" class="checkmark"></label>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary">Empezar</button>
                </div>
            </form>
        </div>
    </div>
</body

