<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AGD - Alimentos Naturales</title>
    <!-- Agregar aquí CSS y otros archivos necesarios -->
    <script>
        function moveOptions(from, to) {
            var selectedOptions = document.getElementById(from).selectedOptions;
            var toList = document.getElementById(to);
            while (selectedOptions.length > 0) {
                toList.appendChild(selectedOptions[0]);
            }
        }

        function selectAllOptions(selectElement) {
            var options = selectElement.options;
            for (var i = 0; i < options.length; i++) {
                options[i].selected = true;
            }
        }

        window.onload = function() {
            document.getElementById("add").onclick = function() {
                moveOptions('deposito', 'selectedDepositos');
            };

            document.getElementById("remove").onclick = function() {
                moveOptions('selectedDepositos', 'deposito');
            };

            document.getElementById('form').onsubmit = function() {
                selectAllOptions(document.getElementById('selectedDepositos'));
            };
        };
    </script>
</head>
<body>
    <h1>¡Hola! Ingrese los parámetros</h1>
    <form id="form" method="post" action="/confirmar">
        <div style="float: left; margin-right: 20px;">
            <label for="deposito">Depósito (MCU) Warehouse TEST:</label>
            <select id="deposito" name="depositos_seleccionados" multiple>
                <!-- Los depósitos se llenarán aquí usando Flask y Jinja -->
                {% for deposito in depositos %}
                <option value="{{ deposito }}">{{ deposito }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="button" id="add">Agregar >></button>
            <button type="button" id="remove"><< Quitar</button>
        </div>

        <div style="float: left;">
            <label for="selectedDepositos">Depósitos con Picking:</label>
            <select id="selectedDepositos" name="depositos_agregados[]" multiple>
                <!-- Los depósitos seleccionados aparecerán aquí -->
            </select>
        </div>

        <div style="clear: both;"></div>

        <input type="submit" value="Confirmar">
    </form>
</body>
</html>
