<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Enlace al archivo CSS de Bootstrap (requiere conexión a Internet) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Resultados | Klearty IA</title>
</head>
<body>
    <div class="header text-center">
        <img src="{{ url_for('static', filename='logo_klearty.png') }}" alt="Logo Klearty" class="img-fluid">
        <h1 class="mt-4">Resultados del Análisis</h1>
    </div>
    <div class="container">

    <h2>Información del Archivo:</h2>
    <p>Nombre del Archivo: {{ parametros['filename'] }}</p>
    <p>Variable Target: {{ parametros['target'] }}</p>
    <p>Modo Pro: {{ parametros['pro_mode'] }}</p>

    <h2>Nombres de las Columnas:</h2>
    <ul class="list-group">
        {% for columna in columnas %}
            <li class="list-group-item">{{ columna }}</li>
        {% endfor %}
    </ul>
    <h2>Variables Seleccionadas:</h2>
    <form action="/predecir" method="post" enctype="multipart/form-data">
        <ul class="list-group">
        {% for i in range (0, cant_variables_principales-1) %} 
            <li class="list-group-item">{{ variables_principales[i] }}</li>
            <input type="hidden" name="item{{ i }}" value="{{ variables_principales[i] }}">
        {% endfor %}
        </ul>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Ir a predecir</button>
        </div>
    </form>

    <h2>Accuracy: {{metric}}</h2>
    </div>

    <!-- Scripts de Bootstrap (requiere conexión a Internet) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
